<h1> Welcome back to Rails Ranking Tracker! </h1>

<%= form_for @user do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign In" %> 
