<h1 data-user-id="<%= @user.id %>"> Welcome back, <%= @user.name %> </h1>

<div class="nav">
  <%= link_to "Add a game", new_user_game_path(@user), :class => "js-addGame" %>
  <%= link_to "Log out", logout_path %>
  <%= link_to "Game List", user_games_path(@user), :class => "js-gameIndex" %>
</div>

<div class="ajaxForm">
</div>

<div class="js-indexShow">
  <ol><strong>
    <h3><div class="showHeading"></div><h3>
    <div class="gameName"> </div>
    <div class="gameType"> </div>
    <div class="gameTime"> </div>
    <div class="gameSetup"> </div>
    <div class="gameScore"> </div>
    <div class="js-userGameEdit"></div>
  </strong>
  </ol>
</div>

<script id="edit-game-template" type="text/x-handlebars-template">
  <form class="edit_game" id="edit_game_{{id}}" action="/users/{{user_id}}/games/{{id}}" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" />
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input value="1" type="hidden" name="{{user_id}}" id="game_user_id" />

    What is the name of this game?
    <input type="text" value="{{name}}" name="game[name]" id="game_name" /></br>

    What kind of game is this?
    <input type="text" value="{{game_type}}" name="game[game_type]" id="game_game_type" /></br>

    How many hours have you played?
    <input type="number" value="{{play_time}}" name="game[play_time]" id="game_play_time" /></br>

    Who/what is your main character?
    <input type="text" value="{{main_setup}}" name="game[main_setup]" id="game_main_setup" /></br>

    what is your current skill rating?
    <input type="number" value="{{score}}" name="game[score]" id="game_score" />

    <input type="submit" name="commit" value="Click to submit!" class="js-submit" data-disable-with="Click to submit!" />
  </form>
</script>

<script id="games-template" type="text/x-handlebars-template">

    <li><strong> Game: {{name}}</strong></li>
    <li> Play Time(in hours): {{play_time}} </li>
    <a href="/users/{{user_id}}/games/{{id}}" id="showGame"> details...</a>,
    <a href="/users/{{user_id}}/games/{{id}}/edit" id="editGame">Edit {{name}}</a>,
    <a href="/users/{{user_id}}/games/{{id}}" id="fullViewGame">Full Specifics of {{name}}?</a>
</script>

<ul class="games_list" data-role="gameview" data-filter="true">
</ul>

<ul class="games_all" data-role="gameview" data-filter="true">
</ul>
