<h1 data-user-id="<%= @user.id %>"> Welcome back, <%= @user.name %> </h1>



<div class="nav">
  <%= link_to "Add a game", new_user_game_path(@user), :class => "js-addGame" %>
  <%= link_to "Log out", logout_path %>
  <%= link_to "Game List", user_games_path(@user), :class => "js-gameIndex" %>
</div>

<div class="ajaxForm">
</div>

<div class="js-indexShow">
  <ol><strong>
    <h3><div class="showHeading"></div><h3>
    <div class="gameName"> </div>
    <div class="gameType"> </div>
    <div class="gameTime"> </div>
    <div class="gameSetup"> </div>
    <div class="gameScore"> </div>
    <div class="js-userGameEdit"></div>
  </strong>
  </ol>
</div>

<script id="games-template" type="text/x-handlebars-template">

    <li><strong> Game: {{name}}</strong></li>
    <li> Play Time(in hours): {{play_time}} </li>
    <a href="/users/{{user_id}}/games/{{id}}" id="showGame"> details...</a>

</script>

<ul class="games_list" data-role="gameview" data-filter="true">
</ul>
