<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h3> Your current stats: </h3>
<h5>Preferred console: <%= @user.console %> </br>
Current score goal: <%= @user.goal %> </br> </h5>

  <% @games.each do |g| %></br>
  <%= link_to g.name, edit_user_game_path(current_user, g), class: "js-userGameEdit" %></br>
  <%= link_to "Delete", user_game_path(@user, g), method: :delete %> </br>
  <%= g.score %></br>
  <% end %>
</div>
