<h4> Here is the full listing and rankings! </h4>

<div="js-AllGames" >
<% @games.each do |g| %>
  Game name: <%= link_to g.name, edit_user_game_path(current_user, g), class: "js-userGameEdit" %></br>
  Play time (hours): <%= g.play_time %></br>
  Setup: <%= g.main_setup %></br>
  Score: <%= g.score %></br>
  <%= link_to "Delete", user_game_path(current_user, g), method: :delete %> </br>
  <%= link_to " Details", user_game_path(current_user, g), class: "js-showGame" %> </br></br>

<% end %>
</div>
