<h1> Let's take a closer look at <%= @game.name %> </h1>

<% if Game.pro_level(@game.play_time) %>
  <%= @game.rank_symbol(@game.score) %>
  <% end %>

<h3> Game Type: <%= @game.game_type %> </br>
     Play Time: <%= @game.play_time %> </br>
     Main Setup: <%= @game.main_setup %> </br>
     Score: <%= @game.score %> </br>
     Last update at all: <%= @game.updated_at %> </br> </h3>

<%= link_to "logout", logout_path %>
<%= link_to "edit #{@game.name}", edit_user_game_path(current_user, @game) %>
<%= link_to " Your home page", user_path(current_user) %> 
