<h1> Let's take a closer look at <%= @game.name %> </h1>

<h3> Game Type: <%= @game.game_type %> </br>
     Play Time: <%= @game.play_time %> </br>
     Main Setup: <%= @game.main_setup %> </br>
     Score: <%= @game.score %> </br>
     Last update at all: <%= @game.updated_at %> </br> </h3> 
