<h1> Welcome back, <%= @user.name %> </h1>

<h3> Your current stats: </h3></br>

<%= @user.name %>
<%= @user.console %>
<%= @user.goal %>
<% @game.each do |g| %>
<%= g.name, g.score %>
<% end %>

<%= link_to "Log out", logout_path %>  
